$treeselect-font-size: 1em !default;
$treeselect-font-size-sm: 12px !default;
$treeselect-padding: 5px !default;
$treeselect-border-radius-lg: 5px !default;
$treeselect-border-radius-sm: 2px !default;
$treeselect-narrow-cell-width: 20px !default;
$treeselect-wide-cell-width: 100% !default;
$treeselect-icon-size: 12px !default;
$treeselect-transition-duration: 200ms !default;
$treeselect-transition-duration-slow: 400ms !default;
$treeselect-max-level: 8 !default;

$treeselect-control-height: 36px !default;
$treeselect-control-border-width: 1px !default;
$treeselect-control-inner-height: $treeselect-control-height - $treeselect-control-border-width * 2 !default;
$treeselect-control-border-color: #ddd !default;
$treeselect-control-border-color-hover: #cfcfcf !default;
$treeselect-control-border-color-active: $treeselect-control-border-color-hover !default;
$treeselect-control-border-color-focus: $cyan-600 !default;
$treeselect-control-border-radius: $treeselect-border-radius-lg !default;
$treeselect-control-bg: #fff !default;
$treeselect-control-box-shadow-focus: 0 0 0 3px fade($treeselect-control-border-color-focus, 10%) !default;
$treeselect-control-bg-disabled: #f9f9f9 !default;

$treeselect-placeholder-font-color: $gray-400 !default;
$treeselect-single-value-font-color: #333 !default;
$treeselect-single-value-font-color-focused: $treeselect-placeholder-font-color !default;
$treeselect-multi-value-margin-x: 0 !default;
$treeselect-multi-value-margin-y: 2px !default;
$treeselect-multi-value-padding-x: $treeselect-padding !default;
$treeselect-multi-value-padding-y: 0 !default;
$treeselect-multi-value-font-size: $treeselect-font-size-sm !default;
$treeselect-multi-value-font-color: $cyan-600 !default;
$treeselect-multi-value-item-bg: $blue-100 !default;
$treeselect-multi-value-item-bg-new: $green-100 !default;
$treeselect-multi-value-item-border-width: 1px !default;
$treeselect-multi-value-item-border-color: transparent !default;
$treeselect-multi-value-font-color-hover: $treeselect-multi-value-font-color !default;
$treeselect-multi-value-item-bg-hover: $treeselect-multi-value-item-bg !default;
$treeselect-multi-value-item-bg-new-hover: $treeselect-multi-value-item-bg-new !default;
$treeselect-multi-value-font-color-disabled: $gray-600 !default;
$treeselect-multi-value-item-bg-disabled: $gray-100 !default;
$treeselect-multi-value-item-font-color-control-disabled: #555 !default;
$treeselect-multi-value-item-bg-control-disabled: #fff !default;
$treeselect-multi-value-item-border-color-control-disabled: #e5e5e5 !default;
$treeselect-multi-value-remove-color: $treeselect-multi-value-font-color !default;
$treeselect-multi-value-remove-color-hover: $red-600 !default;
$treeselect-multi-value-remove-size: 6px !default;
$treeselect-multi-value-divider-color: #fff !default;
$treeselect-limit-tip-font-color: $gray-400 !default;
$treeselect-limit-tip-font-size: $treeselect-multi-value-font-size !default;
$treeselect-limit-tip-font-weight: 600 !default;
$treeselect-single-input-font-size: inherit !default;
$treeselect-multi-input-font-size: $treeselect-multi-value-font-size !default;

$treeselect-menu-bg: #fff !default;
$treeselect-menu-padding-y: $treeselect-padding !default;
$treeselect-menu-line-height: 180% !default;
$treeselect-menu-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06) !default;
$treeselect-control-menu-divider-color: #f2f2f2 !default;

$treeselect-arrow-size: 9px !default;
$treeselect-arrow-color: #ccc !default;
$treeselect-arrow-color-hover: $gray-700 !default;
$treeselect-arrow-transition-timing-function: ease-out !default;

$treeselect-x-size: 8px !default;
$treeselect-x-color: $treeselect-arrow-color !default;
$treeselect-x-color-hover: $red-600 !default;

$treeselect-option-bg-highlight: $gray-100 !default;
$treeselect-option-selected-bg: $blue-100 !default;
$treeselect-option-selected-bg-hover: $treeselect-option-selected-bg !default;
$treeselect-checkbox-size: $treeselect-icon-size !default;
$treeselect-checkbox-border-radius: $treeselect-border-radius-sm !default;
$treeselect-checkbox-color: $gray-300 !default;
$treeselect-checkbox-color-highlight: $cyan-600 !default;
$treeselect-checkbox-border-color: $treeselect-checkbox-color !default;
$treeselect-checkbox-bg: #fff !default;
$treeselect-checkbox-border-color-hover: $treeselect-checkbox-color-highlight !default;
$treeselect-checkbox-bg-hover: $treeselect-checkbox-bg !default;
$treeselect-checkbox-indeterminate-border-color: $treeselect-checkbox-color-highlight !default;
$treeselect-checkbox-indeterminate-bg: $treeselect-checkbox-color-highlight !default;
$treeselect-checkbox-indeterminate-icon: "./assets/checkbox-indeterminate.png" !default;
$treeselect-checkbox-indeterminate-border-color-hover: $treeselect-checkbox-color-highlight !default;
$treeselect-checkbox-indeterminate-bg-hover: $treeselect-checkbox-color-highlight !default;
$treeselect-checkbox-checked-border-color: $treeselect-checkbox-color-highlight !default;
$treeselect-checkbox-checked-bg: $treeselect-checkbox-color-highlight !default;
$treeselect-checkbox-checked-icon: "./assets/checkbox-checked.png" !default;
$treeselect-checkbox-checked-border-color-hover: $treeselect-checkbox-color-highlight !default;
$treeselect-checkbox-checked-bg-hover: $treeselect-checkbox-color-highlight !default;
$treeselect-checkbox-disabled-border-color: $treeselect-checkbox-border-color !default;
$treeselect-checkbox-disabled-bg-color: darken($treeselect-checkbox-bg, 3%) !default;
$treeselect-checkbox-disabled-indeterminate-icon: "./assets/checkbox-indeterminate-disabled.png" !default;
$treeselect-checkbox-disabled-checked-icon: "./assets/checkbox-checked-disabled.png" !default;
$treeselect-option-label-color: inherit !default;
$treeselect-option-label-color-disabled: rgba(0, 0, 0, 0.25) !default;

$treeselect-loader-color-dark: $cyan-600 !default;
$treeselect-loader-color-light: $cyan-100 !default;
$treeselect-loader-animation-duration: 1.6s !default;
$treeselect-warning-icon-bg: $orange-600 !default;
$treeselect-error-icon-bg: $red-600 !default;
$treeselect-tip-color: $gray-600 !default;
$treeselect-tip-font-size: $treeselect-font-size-sm !default;
$treeselect-retry-text-color: $cyan-600 !default;
