@import "~bootstrap/scss/helpers";

/**
 * This file contains CSS helper classes.
 */

.img-lg {
    width: 92px;
    height: 92px;
}

.img-md {
    width: 43px;
    height: 43px;
}

.img-sm {
    width: 37px;
    height: 37px;
}

.img-xs {
    width: 26px;
    height: 26px;
}

@each $color, $value in $colors {
    .bg-#{$color} {
        background-color: $value !important;
    }
}

// CURSOR

.cursor-pointer {
    cursor: pointer !important;
}
