// Skin: Blue
//==========================================>

.skin-blue-light {
    // Navbar & Logo
    .main-header {
        .navbar {
            @include navbar-variant($brand-primary, #FFF);

            .sidebar-toggle {
                color: #FFF;

                &:hover { background-color: darken($brand-primary, 5%); }
            }

            @media (max-width: $screen-header-collapse) {
                .dropdown-menu {
                    li {
                        &.divider { background-color: rgba(255, 255, 255, 0.1); }

                        a {
                            color: #FFF;

                            &:hover { background: darken($brand-primary, 5%); }
                        }
                    }
                }
            }
        }

        // Logo
        .logo { @include logo-variant($brand-primary); }

        li.user-header { background-color: $brand-primary; }
    }

    // Create the sidebar skin
    @include skin-light-sidebar($brand-primary);

    .main-footer {
        border-top-color: $light-gray;
    }

    &.layout-top-nav {
        .main-header > .logo {
            @include logo-variant($brand-primary);
        }
    }
}
