// Default for all skins
//==========================================>

.skin-black,
.skin-black-light,
.skin-blue,
.skin-blue-light,
.skin-green,
.skin-green-light,
.skin-purple,
.skin-purple-light,
.skin-red,
.skin-red-light,
.skin-yellow,
.skin-yellow-light {
    // Content Header
    .content-header {
        background: #FFF;
        @include box-shadow(0 1px 1px rgba(0, 0, 0, 0.1));
    }
}

// DARK SKINS
//--------------------------
.skin-black,
.skin-blue,
.skin-green,
.skin-purple,
.skin-red,
.skin-yellow {

}

// LIGHT SKINS
//--------------------------
.skin-black-light,
.skin-blue-light,
.skin-green-light,
.skin-purple-light,
.skin-red-light,
.skin-yellow-light {

}
