// BREADCRUMBS

$breadcrumb-bg:            transparent;

$breadcrumb-padding-y:     0.56rem;
$breadcrumb-padding-x:     1.13rem;
$breadcrumb-item-padding:  .5rem;

$breadcrumb-border-color:  $border-color;


$breadcrumb-font-size:     $font-size-base;

$breadcrumb-item-color:    var(--skin-breadcrumb-item-color);
$breadcrumb-active-color:  var(--skin-breadcrumb-active-color);
$breadcrumb-divider-color: var(--skin-breadcrumb-divider-color);
