// DROPDOWN

$dropdown-bg:             var(--skin-surface-1-bg-color);
$dropdown-border-color:   $border-color;
$dropdown-divider-bg:     $border-color;
$dropdown-link-color:     var(--#{$variable-prefix}body-bg);
$dropdown-header-color:   var(--#{$variable-prefix}body-bg);
