// HORIZONTAL MENU

$horizontal-menu-bg :                  #F6F8FA;
$horizontal-menu-height :              4rem;
$horizontal-menu-padding:              0 1rem;
$horizontal-menu-item-color:           #202339;
$horizontal-menu-submenu-color:        $horizontal-menu-item-color;
$horizontal-menu-font-size:            0.875rem;
$horizontal-menu-item-padding:         0.75rem 0;
$horizontal-menu-icon-font-size:       0.9375rem;
$horizontal-menu-submenu-item-padding: 0.85rem 0;

$horizontal-boxed-menu-color:          #9C9FA6;
$horizontal-full-width-menu-color:     #9C9FA6;
