// Miscellaneous : Typography
//==========================================>

// Text colors
.text-blue       { color: $blue !important; }
.text-black      { color: $black !important; }
.text-light-blue { color: $brand-primary !important; }
.text-green      { color: $brand-success !important; }
.text-aqua       { color: $brand-info !important; }
.text-yellow     { color: $brand-warning !important; }
.text-red        { color: $brand-danger !important; }
.text-gray       { color: $light-gray !important; }
.text-navy       { color: $navy !important; }
.text-teal       { color: $teal !important; }
.text-olive      { color: $olive !important; }
.text-lime       { color: $lime !important; }
.text-orange     { color: $orange !important; }
.text-fuchsia    { color: $fuchsia !important; }
.text-purple     { color: $purple !important; }
.text-maroon     { color: $maroon !important; }

.link-muted {
    color: darken($light-gray, 30%);

    &:hover, &:focus {
        color: darken($light-gray, 40%);
    }
}

.link-black {
    color: #666;

    &:hover, &:focus {
        color: #999;
    }
}

// Light font weight
.font-light,
.text-light {
    font-weight: 300;
}

// Bold font weight
.font-bold,
.text-bold {
    &, &.table td, &.table th {
        font-weight: 700;
    }
}

.text-sm {
    font-size: 12px;
}
