// Component: Callout
//==========================================>

// Base styles (regardless of theme)
.callout {
    @include border-radius(3px);
    margin: 0 0 20px;
    padding: 15px 30px 15px 15px;
    border-left: 5px solid #eee;

    a {
        color: #fff;
        text-decoration: underline;

        &:hover { color: #eee; }
    }

    h4 {
        margin-top: 0;
        font-weight: 600;
    }

    p:last-child {
        margin-bottom: 0;
    }

    code, .highlight {
        background-color: #fff;
    }

    // Themes for different contexts
    &.callout-success {
        @extend .bg-green;
        border-color: darken($brand-success, 10%);
    }

    &.callout-info {
        @extend .bg-aqua;
        border-color: darken($brand-info, 10%);
    }

    &.callout-warning {
        @extend .bg-yellow;
        border-color: darken($brand-warning, 10%);
    }

    &.callout-danger {
        @extend .bg-red;
        border-color: darken($brand-danger, 10%);
    }
}
