// Component: Label
//==========================================>

.label {
    &.label-shadow {
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    }
}

.label-default {
    background-color: $light-gray;
    color: #444;
}

.label-primary { @extend .bg-primary; }
.label-success { @extend .bg-success; }
.label-info    { @extend .bg-info; }
.label-inverse { @extend .bg-inverse; }
.label-warning { @extend .bg-warning; }
.label-danger  { @extend .bg-danger; }
