@import "~bootstrap/scss/utilities";

$utilities: map-merge(
    $utilities,
    (
        // LogViewer Utilities
        "log-level-color": (
            property: color,
            class: text-log-level,
            values: $log-level-colors
        ),
        "log-level-background": (
            property: background-color,
            class: bg-log-level,
            values: $log-level-colors
        ),
        "log-level-border": (
            property: border-color,
            class: border-log-level,
            values: $log-level-colors
        ),
    )
);
