/**
 * This file contains very basic styles.
 */

body {
    -webkit-font-smoothing: antialiased;
    @extend %scrollable;
}

*:-moz-full-screen,
*:-webkit-full-screen,
*:fullscreen *:-ms-fullscreen {
    overflow: auto;
}

%scrollable {
    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &::-webkit-scrollbar {
        width: 4px;
        height: 6px;
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #8C8C8C;
    }

    // Firefox
    scrollbar-color: #8C8C8C transparent;
    scrollbar-width: thin;
}
