.btn-bitbucket {
    background-color: $color-social-bitbucket;
    color: #FFF;

    &:hover, &:focus, &.focus {
        background-color: darken($color-social-bitbucket, 10%);
        color: #FFF;
    }
}

.btn-facebook {
    background-color: $color-social-facebook;
    color: #FFF;

    &:hover, &:focus, &.focus {
        background-color: darken($color-social-facebook, 10%);
        color: #FFF;
    }
}

.btn-github {
    background-color: $color-social-github;
    color: #FFF;

    &:hover, &:focus, &.focus {
        background-color: darken($color-social-github, 10%);
        color: #FFF;
    }
}

.btn-google-plus {
    background-color: $color-social-google;
    color: #FFF;

    &:hover, &:focus, &.focus {
        background-color: darken($color-social-google, 10%);
        color: #FFF;
    }
}

.btn-linkedin {
    background-color: $color-social-linkedin;
    color: #FFF;

    &:hover, &:focus, &.focus {
        background-color: darken($color-social-linkedin, 10%);
        color: #FFF;
    }
}

.btn-twitter {
    background-color: $color-social-twitter;
    color: #FFF;

    &:hover, &:focus, &.focus {
        background-color: darken($color-social-twitter, 10%);
        color: #FFF;
    }
}
