/**
 * This file contains all application-wide Sass variables.
 */

// PATHS

$base-path:     "..";
$images-path:   "#{$base-path}/images";
$fonts-path:    "#{$base-path}/fonts";
$fa-font-path:  "~@fortawesome/fontawesome-free/webfonts";
$mdi-font-path: "~@mdi/font/fonts";

// COLORS

@import "variables/colors";

// Layout VARIABLES

$grid-breakpoints: (
    xs:   0,
    sm:   576px,
    md:   768px,
    lg:   992px,
    xl:   1200px,
    xxl:  1600px,
    xxxl: 2000px,
);

$body-bg:    #E9ECEF;
$body-color: var(--skin-body-font-color);
$link-color: $gray-600;

// FONTS

$font-family-sans-serif:      "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base:            $font-family-sans-serif;

$font-size-base: 0.875rem !default;
$font-size-lg:   1rem !default;
$font-size-sm:   0.75rem !default;

$font-weight-semibold: 600 !default;

// COMPONENTS

$component-active-bg: #34314F;

$border-width:   1px;
$border-color:   rgba($black, 0.125);
$border-radius:  0.125rem;

// SIDEBAR

$sidebar-width:                     260px !default;

$sidebar-light-menu-color:          #3E4B5B;
$sidebar-light-submenu-color:       #888;
$sidebar-light-menu-active-bg:      $white;
$sidebar-light-menu-active-color:   color("primary");
$sidebar-light-menu-hover-bg:       rgba($black, 0.05);
$sidebar-light-menu-hover-color:    darken($sidebar-light-menu-color, 10%);
$sidebar-light-submenu-hover-color: darken($sidebar-light-submenu-color, 20%);
$sidebar-light-menu-icon-color:     #BBA8BFF5;
$sidebar-light-menu-arrow-color:    #9E9DA0;
$sidebar-light-menu-border-color:   #F2EDF3;

$sidebar-dark-bg:                   #18151E;
$sidebar-dark-menu-color:           $white;
$sidebar-dark-menu-active-bg:       #282037;
$sidebar-dark-menu-active-color:    $white;
$sidebar-dark-menu-hover-bg:        #282037;
$sidebar-dark-menu-hover-color:     $white;
$sidebar-dark-submenu-color:        $sidebar-dark-menu-color;
$sidebar-dark-submenu-hover-bg:     initial;
$sidebar-dark-submenu-hover-color:  #FFF;

$sidebar-menu-font-size:            $font-size-sm;
$sidebar-menu-padding-y:            0.75rem;
$sidebar-menu-padding-x:            1rem;

$sidebar-submenu-font-size:         0.8125rem;
$sidebar-submenu-item-padding:      1rem;

$sidebar-icon-font-size:            1.125rem;
$sidebar-arrow-font-size:           0.625rem;

$sidebar-profile-bg:                transparent;
$sidebar-profile-padding:           0.75rem 1.625rem 0.75rem 1.188rem;

$sidebar-mini-menu-padding:         0.8125rem 1rem;

$sidebar-icon-only-menu-padding:    0.5rem 1.625rem 0.5rem 1.188rem;
$sidebar-icon-only-submenu-padding: 0 0 0 1.5rem;

$rtl-sidebar-submenu-padding:       0 1.5rem 0 0;

$icon-only-collapse-width:          190px;
$icon-only-menu-bg-light:           $sidebar-light-menu-hover-bg;
$icon-only-menu-bg-dark:            $sidebar-dark-menu-hover-bg;

// SETTINGS PANEL

$settings-panel-width: 300px;

// HORIZONTAL MENU

$horizontal-menu-bg :                  #F6F8FA;
$horizontal-menu-height :              4rem;
$horizontal-menu-padding:              0 1rem;
$horizontal-menu-item-color:           #202339;
$horizontal-menu-submenu-color:        $horizontal-menu-item-color;
$horizontal-menu-font-size:            0.875rem;
$horizontal-menu-item-padding:         0.75rem 0;
$horizontal-menu-icon-font-size:       0.9375rem;
$horizontal-menu-submenu-item-padding: 0.85rem 0;

$horizontal-boxed-menu-color:          #9C9FA6;
$horizontal-full-width-menu-color:     #9C9FA6;

// NAVBAR

$navbar-height:         4rem;
$navbar-menu-color:     #9C9FA6;
$navbar-font-size:      0.875rem;
$navbar-icon-font-size: 1.25rem;

///////// BUTTONS ////////

$button-fixed-width:   150px;

$btn-padding-y-xs:     0.2rem;
$btn-padding-x-xs:     0.5rem;


$btn-font-size-xs:     0.8rem;

$btn-border-radius:    0.1875rem;
$btn-border-radius-xs: $btn-border-radius;
$btn-border-radius-sm: $btn-border-radius;
$btn-border-radius-lg: $btn-border-radius;

// TOOLTIP VARIABLES

$tooltip-font-size:     0.75rem;
$tooltip-padding-y:     0.4rem;
$tooltip-padding-x:     0.75rem;
$tooltip-border-radius: 0.375rem;

// FORMS

$input-bg:                var(--skin-input-bg-color);
$input-color:             var(--skin-input-font-color);
$input-border-radius:     $border-radius;
$input-border-color:      var(--skin-input-border-color);
$input-placeholder-color: var(--skin-input-placeholder-color);
$input-group-addon-bg:    var(--skin-input-bg-color);
$input-disabled-bg:       transparent;

$form-file-button-bg:     $gray-200; // TODO: Fix the $color2: var(--skin-input-bg-color) is not a color.

// DROPDOWN

$dropdown-bg:             var(--skin-surface-1-bg-color);
$dropdown-border-color:   $border-color;
$dropdown-divider-bg:     $border-color;
$dropdown-link-color:     $body-color;
$dropdown-header-color:   $body-color;

// MEASUREMENT AND PROPERTY VARIABLES

$boxed-container-width:             1200px;
$border-property:                   1px solid $border-color;
$card-spacing-y:                    2.5rem;
$card-border-radius:                0.3125rem;
$card-description-color:            #76838F;
$action-transition-duration:        0.25s;
$action-transition-timing-function: ease;

// BREADCRUMBS VARIABLES

$breadcrumb-bg:            transparent;

$breadcrumb-padding-y:     0.56rem;
$breadcrumb-padding-x:     1.13rem;
$breadcrumb-item-padding:  .5rem;

$breadcrumb-border-color:  $border-color;


$breadcrumb-font-size:     $font-size-base;

$breadcrumb-item-color:    var(--skin-breadcrumb-item-color);
$breadcrumb-active-color:  var(--skin-breadcrumb-active-color);
$breadcrumb-divider-color: var(--skin-breadcrumb-divider-color);


// TABS VARIABLES

$nav-tabs-border-color:             #EBEDF2;
$nav-tabs-link-bg:                  #F6F8FA;
$nav-tabs-link-color:               $black;
$nav-tabs-link-hover-border-color:  $nav-tabs-border-color $nav-tabs-border-color $nav-tabs-border-color;
$nav-tabs-link-active-color:        $body-color;
$nav-tabs-link-active-bg:           $white;
$nav-tabs-link-active-border-color: $nav-tabs-border-color $nav-tabs-border-color $nav-tabs-link-active-bg;
$nav-pills-custom-bg:               #FCFCFD;

// NAVS

$nav-link-padding-y:                0.7rem;
$nav-link-padding-x:                1.5rem;

// MODALS

$modal-content-border-color: $border-color;
$modal-content-border-width: 0;

$modal-backdrop-opacity:     0.4;

$modal-xl:                   90%;

// CARDS

$card-bg: var(--skin-surface-1-bg-color);

// TABLE

$table-dark-color:            var(--skin-body-font-color);
$table-group-separator-color: var(--skin-border-color);

// PAGINATION

$pagination-bg:           var(--skin-surface-1-bg-color);
$pagination-border-color: var(--skin-surface-2-bg-color);

$pagination-hover-bg:           var(--skin-surface-2-bg-color);
$pagination-hover-color:        var(--skin-body-font-color);
$pagination-hover-border-color: var(--skin-surface-2-bg-color);

$pagination-disabled-bg:           var(--skin-surface-1-bg-color);
$pagination-disabled-color:        $gray-600;
$pagination-disabled-border-color: var(--skin-surface-2-bg-color);

// AVATARS

$avatar-sizes: (
    "sm":  1.5rem,
    "md":  2.5rem,
    "lg":  4rem,
    "xl":  6rem,
    "xxl": 8rem,
) !default;

// THEMES

$skins: (
    'light': (
        body-bg-color:                #E9ECEF,
        body-font-color:              $gray-800,

        link-color:                   $primary,

        surface-1-bg-color:           $white,
        surface-2-bg-color:           $gray-300,
        surface-text-normal-color:    $gray-700,
        surface-text-hover-color:     $gray-600,
        surface-text-muted-color:     $gray-600,

        accent-bg-color:              #34314F,
        accent-text-normal-color:     #D0D0D0,
        accent-text-hover-color:      #DEDEDE,

        border-color:                 $gray-400,

        heading-text-color:           $gray-900,
        heading-muted-color:          $gray-600,

        input-border-color:           $gray-400,
        input-placeholder-color:      $gray-600,

        breadcrumbs-item-color:       $gray-600,
        breadcrumbs-item-hover-color: $gray-800,
        breadcrumbs-active-color:     $gray-600,
        breadcrumbs-divider-color:    $gray-600,

        sidebar-bg-color:              $gray-100,
        sidebar-text-normal-color:     $gray-800,
        sidebar-text-hover-color:      $gray-600,
        sidebar-link-active-bg:        #34314F,
        sidebar-link-active-color:     $gray-100,

    ),
    'dark':  (
        body-bg-color:                #181818,
        body-font-color:              $gray-200,

        link-color:                   $gray-200,

        surface-1-bg-color:           #202020,
        surface-2-bg-color:           #313131,
        surface-text-normal-color:    $gray-300,
        surface-text-hover-color:     $gray-400,
        surface-text-muted-color:     $gray-500,

        accent-bg-color:              #202020,
        accent-text-normal-color:     $gray-400,
        accent-text-hover-color:      $gray-200,

        border-color:                 $gray-900,

        heading-text-color:           $gray-200,
        heading-muted-color:          $gray-500,

        input-border-color:           $gray-900,
        input-placeholder-color:      $gray-600,

        breadcrumbs-item-color:       $gray-500,
        breadcrumbs-item-hover-color: $gray-300,
        breadcrumbs-active-color:     $gray-500,
        breadcrumbs-divider-color:    $gray-500,

        sidebar-bg-color:              #202020,
        sidebar-text-normal-color:     $gray-200,
        sidebar-text-hover-color:      $gray-300,
        sidebar-link-active-bg:        #34314F,
        sidebar-link-active-color:     $gray-100,
    ),
);

// Bootstrap Variables
// -----------------------------------------------
@import "~bootstrap/scss/variables";
