.card {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125);

    &.card-post {
        & + & {
            margin-top: 1.5rem;
        }

        .card-img-top {
            //
        }

        .card-block {
            -webkit-box-flex: 1;
            -webkit-flex: 1 1 auto;
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            padding: 1.25rem;
        }

        .card-title,
        .card-meta {
            margin: 0;
            text-transform: uppercase;
        }

        .card-title {
            margin-bottom: 10px;
        }

        .card-meta {
            margin-bottom: 10px;
            font-size: 12px;
        }
    }
}
