@import "~bootstrap/scss/mixins";

/**
 * This file contains all application-wide Sass mixins.
 */

// Skins
@mixin skin-mode($mode) {
    body {
        &[data-skin-mode='#{$mode}'] {
            @content;
        }

        &:not([data-skin-mode]) {
            @media (prefers-color-scheme: $mode) { @content; }
        }
    }
}

// Placeholder
@mixin optional-at-root($sel) {
    @at-root #{if(not &, $sel, selector-append(&, $sel))} {
        @content;
    }
}

@mixin placeholder {
    @include optional-at-root('::-webkit-input-placeholder') {
        @content;
    }

    @include optional-at-root(':-moz-placeholder') {
        @content;
    }

    @include optional-at-root('::-moz-placeholder') {
        @content;
    }

    @include optional-at-root(':-ms-input-placeholder') {
        @content;
    }
}

// BUTTONS
@mixin button-inverse-variant($color, $color-hover: $white) {
    background-color: rgba($color, 0.2);
    background-image: none;
    border-color: rgba($color, 0);

    &:not(.btn-inverse-light) {
        color: $color;
    }

    &:hover {
        border-color: $color;
        @include gradient-bg($color);
        color: $color-hover;
    }

    &.focus, &:focus {
        box-shadow: 0 0 0 3px rgba($color, 0.5);
    }

    &.disabled, &:disabled {
        color: $color;
        background-color: transparent;
    }

    &.active, &:active,
    .show > &.dropdown-toggle {
        color: $color-hover;
        background-color: $color;
        border-color: $color;
    }
}

@mixin social-button($color) {
    background: $color;
    color: $white;

    &:hover, &:focus {
        background: darken($color, 10%);
        color: $white;
    }

    &.btn-social-icon-text {
        padding: 0 1.5rem 0 0;
        background: lighten($color, 10%);

        i {
            background: $color;
            padding: .75rem;
            display: inline-block;
            margin-right: 1.5rem;
        }
    }
}

@mixin social-outline-button($color) {
    border: 1px solid $color;
    color: $color;

    &:hover {
        background: $color;
        color: $white;
    }
}

// CARDS
@mixin card-inverse-variant($bgc, $border, $color) {
    background-color: $bgc;
    border: 1px solid $border;
    color: $color;
}
