// Mixins
//==========================================>

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    border-radius: $radius;
    background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

@mixin translateZ($z: 0) {
    -webkit-transform: translateZ($z);
    -moz-transform: translateZ($z);
    -ms-transform: translateZ($z);
    -o-transform: translateZ($z);
    transform: translateZ($z);
}

// Gradient background
@mixin bg-gradient($color: #F5F5F5, $start: #EEE, $stop: #FFF) {
    background: $color !important;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, $start), color-stop(1, $stop)) !important;
    background: -moz-linear-gradient(center bottom, $start 0%, $stop 100%) !important;
    background:  -ms-linear-gradient(bottom, $start,$stop) !important;
    background:   -o-linear-gradient($stop, $start) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$stop}', endColorstr='#{$start}', GradientType=0);
}

// grayscale      ex: filter: grayscale(100%);
// sepia          ex: filter: sepia(100%);
// saturate       ex: filter: saturate(0%);
// hue-rotate     ex: filter: hue-rotate(45deg);
// invert         ex: filter: invert(100%);
// brightness     ex: filter: brightness(15%);
// contrast       ex: filter: contrast(200%);
// blur           ex: filter: blur(2px);
@mixin filter($filter-type,$filter-amount) {
    -webkit-filter: unquote($filter-type+unquote('(#{$filter-amount})'));
       -moz-filter: unquote($filter-type+unquote('(#{$filter-amount})'));
        -ms-filter: unquote($filter-type+unquote('(#{$filter-amount})'));
         -o-filter: unquote($filter-type+unquote('(#{$filter-amount})'));
            filter: unquote($filter-type+unquote('(#{$filter-amount})'));
}

// Box solid color variantion creator
@mixin box-solid-variant($color, $text-color: #FFF) {
    border: 1px solid $color;

    & > .box-header {
        color: $text-color;
        background: $color;
        background-color: $color;

        a, .btn {
            color: $text-color;
        }
    }
}

// Logo color variation
@mixin logo-variant($bg-color, $color: #FFF, $border-bottom-color: transparent, $border-bottom-width: 0) {
    background-color: $bg-color;
    color: $color;
    border-bottom: $border-bottom-width solid $border-bottom-color;

    &:hover { background-color: darken($bg-color, 1%); }
}

// Changes the color and the hovering properties of the navbar
@mixin navbar-variant(
    $color,
    $font-color: rgba(255, 255, 255, 0.8),
    $hover-color: #f6f6f6,
    $hover-bg: rgba(0, 0, 0, 0.1)
) {
    background-color: $color;

    // Navbar links
    .nav {
        & > li > a {
            color: $font-color;
        }

        // TODO: Complete the missing states ??
        & > li > a:hover,
        & > li > a:active,
        & > li > a:focus,
        & .open > a,
        & .open > a:hover,
        & .open > a:focus,
        & > .active > a {
            background: $hover-bg;
            color: $hover-color;
        }
    }

    //Add color to the sidebar toggle button
    .sidebar-toggle {
        color: $font-color;

        &:hover {
            color: $hover-color;
            background: $hover-bg;
        }
    }
}

// Direct Chat Variant
@mixin direct-chat-variant($bg-color, $color: #FFF) {
    .right > .direct-chat-text {
        background: $bg-color;
        border-color: $bg-color;
        color: $color;

        &:after, &:before {
            border-left-color: $bg-color;
        }
    }
}

@mixin btn-social($color-bg, $color: #FFF) {
    background-color: $color-bg;
    @include button-variant($color, $color-bg, rgba(0, 0, 0, .2));
}

// Dark Sidebar Mixin
@mixin skin-dark-sidebar($link-hover-border-color) {
    // Sidebar background color (Both .wrapper and .left-side are responsible for sidebar bg color)
    .wrapper, .main-sidebar, .left-side {
        background-color: $sidebar-dark-bg;
    }

    // User Panel (resides in the sidebar)
    .user-panel {
        & > .info {
            &, & > a { color: #FFF; }
        }
    }

    // Sidebar Menu. First level links
    .sidebar-menu > li {
        // Section Headning
        &.header {
            color: lighten($sidebar-dark-bg, 20%);
            background: darken($sidebar-dark-bg, 4%);
        }

        // Links
        & > a { border-left: 3px solid transparent; }

        // Hover and Open states
        &:hover, &.open {
            & > a {
                color: $sidebar-dark-hover-color;
                background-color: $sidebar-dark-hover-bg;
                border-left-color: lighten($link-hover-border-color, 20%);
            }
        }

        // Active state
        &.active {
            & > a {
                color: $sidebar-dark-hover-color;
                background-color: $sidebar-dark-hover-bg;
                border-left-color: $link-hover-border-color;
            }
        }

        // First Level Submenu
        & > .treeview-menu {
            margin: 0 1px;
            background: $sidebar-dark-submenu-bg;
        }
    }

    // All links within the sidebar menu
    .sidebar a {
        color: $sidebar-dark-color;

        &:hover { text-decoration: none; }
    }

    // All submenus
    .treeview-menu {
        & > li {
            & > a { color: $sidebar-dark-submenu-color; }

            & > a:hover,
            &.active > a {
                color: $sidebar-dark-submenu-hover-color;
            }
        }
    }

    // The sidebar search form
    .sidebar-form {
        @include border-radius(3px);
        border: 1px solid lighten($sidebar-dark-bg, 10%);
        margin: 10px;

        input[type="text"], .btn {
            height: 35px;
            background-color: lighten($sidebar-dark-bg, 10%);
            border: 1px solid transparent;
            @include box-shadow(none);
            @include transition(all $transition-speed $transition-fn);
        }

        input[type="text"] {
            color: #666;
            @include border-radius(2px 0 0 2px);
            border-right: none;

            &:focus {
                &, & + .input-group-btn .btn {
                    background-color: #FFF;
                    color: #666;
                }
            }
        }

        .btn {
            color: #999;
            @include border-radius(0 2px 2px 0);
            border-left: none;
        }
    }
}

// Light Sidebar Mixin
@mixin skin-light-sidebar($icon-active-color) {
    // Sidebar background color (Both .wrapper and .left-side are responsible for sidebar bg color)
    .wrapper, .main-sidebar, .left-side {
        background-color: $sidebar-light-bg;
    }

    .content-wrapper, .main-footer {
        border-left: 1px solid $light-gray;
    }

    // User Panel (resides in the sidebar)
    .user-panel {
        & > .info {
            &, & > a { color: $sidebar-light-color; }
        }
    }

    // Sidebar Menu. First level links
    .sidebar-menu > li {
        @include transition(border-left-color .3s ease);

        // Section Headning
        &.header {
            color: lighten($sidebar-light-color, 25%);
            background: $sidebar-light-bg;
        }

        // links
        & > a {
            border-left: 3px solid transparent;
            font-weight: 600;
        }

        // Hover and active states
        &:hover, &.active {
            & > a {
                color: $sidebar-light-hover-color;
                background: $sidebar-light-hover-bg;
            }
        }

        &:hover > a {
            //
        }

        &.active {
            border-left-color: $icon-active-color;

            & > a { font-weight: 600; }
        }

        // First Level Submenu
        & > .treeview-menu {
            background: $sidebar-light-submenu-bg;
        }
    }

    // All links within the sidebar menu
    .sidebar a {
        color: $sidebar-light-color;

        &:hover {
            text-decoration: none;
        }
    }

    // All submenus
    .treeview-menu {
        & > li {
            & > a {
                color: $sidebar-light-submenu-color;
            }

            &.active > a, & > a:hover {
                color: $sidebar-light-submenu-hover-color;
            }

            &.active > a {
                font-weight: 600;
            }
        }
    }

    // The sidebar search form
    .sidebar-form {
        @include border-radius(3px);
        border: 1px solid $light-gray; // darken(@sidebar-light-bg, 5%);
        margin: 10px;

        input[type="text"], .btn {
            height: 35px;
            background-color: #FFF; // darken(@sidebar-light-bg, 3%);
            border: 1px solid transparent;
            @include box-shadow(none);
            @include transition(all $transition-speed $transition-fn);
        }

        input[type="text"] {
            color: #666;
            @include border-radius(2px 0);

            &:focus {
                &, & + .input-group-btn .btn {
                    background-color: #FFF;
                    color: #666;
                }

                & + .input-group-btn .btn {
                    border-left-color: #FFF;
                }
            }
        }

        .btn {
            color: #999;
            @include border-radius(0 2px);
        }
    }

    @media (min-width: $screen-sm-min) {
        &.sidebar-mini.sidebar-collapse {
            .sidebar-menu > li > .treeview-menu {
                border-left: 1px solid $light-gray;
            }
        }
    }
}
