// Skins
//==========================================>

@import "skins/default";
@import "skins/blue";
@import "skins/blue-light";
@import "skins/black";
@import "skins/black-light";
@import "skins/green";
@import "skins/green-light";
@import "skins/red";
@import "skins/red-light";
@import "skins/yellow";
@import "skins/yellow-light";
@import "skins/purple";
@import "skins/purple-light";
