// Paths
//==========================================>
$assets-folder:              "/assets";
$fonts-folder:               "#{$assets-folder}/fonts";
$images-folder:              "#{$assets-folder}/img";
$svg-folder:                 "#{$assets-folder}/svg";

$icon-font-path:             "#{$fonts-folder}/";
$fa-font-path:               "#{$fonts-folder}";
$ionicons-font-path:         "#{$fonts-folder}";
$wi-path:                    "#{$fonts-folder}";

$boxed-layout-bg-image-path: "#{$images-folder}/boxed-bg.jpg";
$range-slider-img-path:      "#{$images-folder}/ion-rangeslider";
$colorpicker-img-path:       "#{$images-folder}/bootstrap-colorpicker";

$flag-icon-css-path:         "#{$svg-folder}/flags";

// Animate
//--------------------------------------------------------

$use-flipInX: true;

// Colors
//--------------------------------------------------------
$brand-primary:         #3C8DBC;
$brand-success:         #00A65A;
$brand-info:            #00C0EF;
$brand-warning:         #F39C12;
$brand-danger:          #DD4B39;
$brand-inverse:         #454545;

$blue:                  #0073B7;
$navy:                  #001F3F;
$teal:                  #39CCCC;
$olive:                 #3D9970;
$lime:                  #01FF70;
$orange:                #FF851B;
$fuchsia:               #F012BE;
$purple:                #605CA8;
$maroon:                #D81B60;
$black:                 #111;
$gray:                  #555;
$light-gray:            #D2D6DE;

// Social colors
//--------------------------------------------------------
$color-social-adn:        #D87A68; // app.net
$color-social-bitbucket:  #205081;
$color-social-dropbox:    #1087DD;
$color-social-facebook:   #3B5998;
$color-social-flickr:     #FF0084;
$color-social-foursquare: #F94877;
$color-social-github:     #444444;
$color-social-google:     #DD4B39;
$color-social-instagram:  #3F729B;
$color-social-linkedin:   #007BB6;
$color-social-microsoft:  #2672EC;
$color-social-openid:     #F7931E;
$color-social-pinterest:  #CB2027;
$color-social-reddit:     #EFF7FF;
$color-social-soundcloud: #FF5500;
$color-social-tumblr:     #2C4762;
$color-social-twitter:    #55ACEE;
$color-social-vimeo:      #1AB7EA;
$color-social-vk:         #587EA3;
$color-social-yahoo:      #720E9E;

// LAYOUT
//--------------------------------------------------------

// Side bar and logo width
$sidebar-width: 230px;

// Boxed layout maximum width
$boxed-layout-max-width: 1024px;

// When the logo should go to the top of the screen
$screen-header-collapse: 768 - 1; // $screen-sm-min - 1

// Link colors (Aka: <a> tags)
$link-color:       $brand-primary;
$link-hover-color: lighten($link-color, 15%);

// Body background (Affects main content background only)
$body-bg: #ECF0F5;

// SIDEBAR SKINS
//--------------------------------------------------------

// Dark sidebar
$sidebar-dark-bg:                   #222D32;
$sidebar-dark-hover-bg:             darken($sidebar-dark-bg, 2%);
$sidebar-dark-color:                lighten($sidebar-dark-bg, 60%);
$sidebar-dark-hover-color:          #FFF;
$sidebar-dark-submenu-bg:           lighten($sidebar-dark-bg, 5%);
$sidebar-dark-submenu-color:        lighten($sidebar-dark-submenu-bg, 40%);
$sidebar-dark-submenu-hover-color:  #FFF;

// Light sidebar
$sidebar-light-bg:                  #F9FAFC;
$sidebar-light-hover-bg:            lighten(#F0F0F1, 1.5%);
$sidebar-light-color:               #444;
$sidebar-light-hover-color:         #000;
$sidebar-light-submenu-bg:          $sidebar-light-hover-bg;
$sidebar-light-submenu-color:       #777;
$sidebar-light-submenu-hover-color: #000;

// CONTROL SIDEBAR
//--------------------------------------------------------
$control-sidebar-width:             $sidebar-width;

// BOXES
//--------------------------------------------------------
$box-border-color:  #F4F4F4;
$box-border-radius: 3px;
$box-footer-bg:     #FFF;
$box-boxshadow:     0 1px 1px rgba(0, 0, 0, .1);
$box-padding:       10px;

// Box variants
$box-default-border-top-color: #D2D6DE;

// BUTTONS
//--------------------------------------------------------
$btn-boxshadow: none;

// PROGRESS BARS
//--------------------------------------------------------
$progress-bar-border-radius:    1px;
$progress-bar-sm-border-radius: $progress-bar-border-radius;
$progress-bar-xs-border-radius: $progress-bar-border-radius;

// FORMS
//--------------------------------------------------------
$input-radius: 0;

// BUTTONS
//--------------------------------------------------------

// Border radius for non flat buttons
$btn-border-radius:                    3px;

// DIRECT CHAT
//--------------------------------------------------------
$direct-chat-height:                   250px;
$direct-chat-default-msg-bg:           $light-gray;
$direct-chat-default-font-color:       #444;
$direct-chat-default-msg-border-color: $light-gray;

// CHAT WIDGET
//--------------------------------------------------------
$attachment-border-radius: 3px;

// TRANSITIONS SETTINGS
//--------------------------------------------------------

// Transition global options
$transition-speed: .3s;
$transition-fn:    ease-in-out;
// Animations
$use-flipInY:      true;

// LogViewer Variables
//--------------------------------------------------------
$log-color-empty:       #D1D1D1;
$log-color-env:         #605CA8;
$log-color-all:         #605CA8;
$log-color-emergency:   #B71C1C;
$log-color-alert:       #D32F2F;
$log-color-critical:    #F44336;
$log-color-error:       #FF5722;
$log-color-warning:     #FF9100;
$log-color-notice:      #4CAF50;
$log-color-info:        #1976D2;
$log-color-debug:       #90CAF9;

$log-icon-size:         70px;
