// Paths
//--------------------------------------------------------

$assets-folder:              "/assets";
$fonts-folder:               "#{$assets-folder}/fonts";
$images-folder:              "#{$assets-folder}/img";
$svg-folder:                 "#{$assets-folder}/svg";

// Social colors
//--------------------------------------------------------

$color-social-adn:        #D87A68; // app.net
$color-social-bitbucket:  #205081;
$color-social-dropbox:    #1087DD;
$color-social-facebook:   #3B5998;
$color-social-flickr:     #FF0084;
$color-social-foursquare: #F94877;
$color-social-github:     #444444;
$color-social-google:     #DD4B39;
$color-social-instagram:  #3F729B;
$color-social-linkedin:   #007BB6;
$color-social-microsoft:  #2672EC;
$color-social-openid:     #F7931E;
$color-social-pinterest:  #CB2027;
$color-social-reddit:     #EFF7FF;
$color-social-soundcloud: #FF5500;
$color-social-tumblr:     #2C4762;
$color-social-twitter:    #55ACEE;
$color-social-vimeo:      #1AB7EA;
$color-social-vk:         #587EA3;
$color-social-yahoo:      #720E9E;
